* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Winky Sans", sans-serif;
    
}

body, html {
    height: 100%;
    width: 100%;
    background-color: black;
}
#box{
    height: 200px;
    width: 200px;
    background-color: crimson;
    position: relative;
}

#page1{
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(142, 230, 94);
   
}
#page2{
    height: 100%;
    width: 100%;
    color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: hsl(180, 58%, 56%);
}
#page3{
    height: 100%;
    width: 100%;
    color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(243, 184, 96);
}


h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    
}